<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>DriveTest</h1>
        <h2>Dashboard</h2>
        <div class="dashboard-links">
            <a href="/g2-page">G2 Test</a>
            <a href="/g-page">G Test</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>